---
import SingleViewLayout from '../../components/SingleViewLayout.astro'
import {fetchArtistById} from '../../js/supabase.js'
const {id} = Astro.params

const artist = await fetchArtistById(id)

console.log('Artist fetched:', artist)
---

{
  artist ? (
    <SingleViewLayout
      name={artist.artist_name}
      image={artist.artist_image}
      age={artist.artist_age}
      about={artist.artist_info}
    />
  ) : (
    <div>Ingen artist fundet</div>
  )
}
