---
import SingleViewLayout from '../../layouts/SingleViewLayout.astro'
import {fetchArtistById} from '../../js/supabase.js'
const {id} = Astro.params

const artist = await fetchArtistById(id)

console.log('Artist fetched:', artist)
---

{
  artist ? (
    <>
      <h1>{artist.artist_name}</h1>
      <img src={artist.artist_image} alt='artist image' />
      <p>Age: {artist.artist_age}</p>
      <p>About: {artist.artist_info}</p>
    </>
  ) : (
    // <SingleViewLayout
    //   name={artist.artist_name}
    //   image={artist.artist_image}
    //   age={artist.artist_age}
    //   about={artist.artist_info}
    // />
    <div>Ingen artist fundet</div>
  )
}
