---
import Layout from '../layouts/Layout.astro'
import ScrollToTopBtn from '../components/ScrollToTopBtn.astro'
import RecordPlayer from '../components/RecordPlayer.astro'
import SectionHeader from '../components/SectionHeader.astro'
import Main from '../components/Main.astro'

import Section from '../components/Section.astro'
import Hero from '../components/Hero.astro'
import Overlay from '../components/Overlay.astro'
import SocialIconsContainer from '../components/SocialIconsContainer.astro'
import Navigation from '../components/Navigation.astro'
import MainFooter from '../components/MainFooter.astro'
import PageIntroText from '../components/PageIntroText.astro'

const navItems = [
  {
    href: '/about',
    text: 'Om',
  },
  {
    href: '/music',
    text: 'Musik',
  },
  {
    href: '/concerts',
    text: 'Koncerter',
  },
  {
    href: '/gallery',
    text: 'Galleri',
  },
]

import {fetchMusicData} from '../js/supabase'
import {fetchPageIntroTextData} from '../js/supabase'

const musicData = await fetchMusicData()
const pageIntroTextData = await fetchPageIntroTextData()
const musicPageIntroText = pageIntroTextData[1]?.page_intro_texts
---

<Layout title='Musik' navItems={navItems}>
  <div class='flex flex-col justify-start'>
    <Section class={`h-screen relative`} id='music'>
      <Hero
        heroHeaderText='Musik'
        heroImageSrc='/images/concert/hero/hero_bg.webp'
        heroImageAlt='hero music image'
        loading='lazy'
      />
    </Section>
    <Main>
      <SectionHeader
        class='-mb-12'
        sectionHeaderText='Hvordan lyder Hovednavn?'
      />
      <PageIntroText pageIntroText={musicPageIntroText} />

      <RecordPlayer musicData={musicData} />
    </Main>
  </div>
</Layout>
