---
export const prerender = false

import Card from './Card.astro'
import SectionHeader from './SectionHeader.astro'
import {supabase} from '../js/supabase.js'

const {data: artistData, error} = await supabase.from('artists').select('*')
console.log(artistData)

if (error) {
  throw new Error(`Failed to fetch artists: ${error.message}`)
}
---

<div class='flex flex-col mt-16'>
  <SectionHeader sectionHeaderText='Hvem består vi af?' />
  <div
    class='concert-cards-container flex flex-wrap justify-center'
    id='artist_cards_container'>
    {
      artistData.map((artistCard) => (
        <a href={`/about/${artistCard.artist_slug}`}>
          <Card
            class='artist-card m-4'
            id={artistCard.id}
            src={artistCard.artist_image}
            isArtistCard={true}
            showOverlay={true}
            artistName={artistCard.artist_name}
            artistBandRole={artistCard.artist_band_role}
          />
        </a>
      ))
    }
  </div>
</div>
