---
const googleMapsApiKey = import.meta.env.PUBLIC_GOOGLE_MAPS_API_KEY
const {
  concertDate,
  concertLocation,
  concertEvent,
  concertPrice,
  concertTarget,
} = Astro.props
---

<div
  class='container concert-card-content-container absolute top-0 left-0 flex flex-col justify-between px-3 py-4 z-[1000] h-full w-full text-white overflow-hidden'>
  <h2
    class='text-xl m-2 text-[var(--secondary-text-color)] font-bold'
    id='concert_date'>
    {concertDate}
  </h2>
  <div
    class='flex flex-col justify-between container map-container absolute inset-0 z-50 h-full w-full translate-y-[100%] transition-translate duration-400 ease-in'>
    <!-- <div
      class='container map-control-container flex justify-around items-center z-[300] px-3 h-10 bg-white'
      id='map_control_container'>
      <a href={concertEvent} target={concertTarget} id='show_event_btn'
        >Vis event</a
      >
    </div> -->
  </div>

  <h3
    class='date text-xl text-[var(--secondary-text-color)] font-bolder'
    id='date'>
  </h3>

  <div
    class='container location-and-price-container flex justify-between items-center text-base/10 px-2'>
    <div>
      <h2 class='location text-[25px] font-bold text-base/7'>
        {concertLocation}
      </h2>
      <p class='price paragraph-font text-xl font-bolder mt-2' id='price'>
        {concertPrice} kr.
      </p>
    </div>

    <div
      class='group flex flex-col gap-2 justify-center text-center items-center cursor-pointer'>
      <i
        class='fas fa-calendar text-xl transition-colors duration-150 ease-in group-hover:text-[var(--secondary-text-color)]'
      ></i>
      <a
        href={concertEvent}
        target='_blank'
        class='self-end text-xl paragraph-font whitespace-nowrap transition-colors duration-150 ease-in group-hover:text-[var(--secondary-text-color)]'>
        Vis event
      </a>
    </div>
  </div>
</div>

<script>
  const concertDateElement = document.getElementById('concert_date')
  const dateString = concertDateElement.textContent.trim()

  const parsedDate = new Date(dateString)

  const formattedDate = new Intl.DateTimeFormat('da-DK', {
    dateStyle: 'full',
    timeStyle: 'long',
    timeZone: 'Europe/Copenhagen',
  }).format(parsedDate)

  console.log(formattedDate)
  concertDateElement.textContent = formattedDate
</script>
